{{!< default}}

<script>
    $(function() {
        // summary:
        //      Adjust this section to window height
        var h = $(window).height() - $('.navbar').height() - 90;

        $('#imageTitle').height(h);
    });
</script>

<section id="imageTitle">
    <div class="container">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <h1>Partageons ensemble dans le sport !</h1>
            </div>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 text-center">
                <div class="rounded-topic section-color-green">
                    <i class="fa fa-child fa-5x"></i>
                    <div class="title">Activités</div>
                </div>
            </div>
            <div class="col-sm-4 text-center">
                <div class="rounded-topic section-color-green">
                    <i class="fa fa-question fa-5x"></i>
                    <div class="title">Pour qui ?</div>
                </div>
            </div>
            <div class="col-sm-4 text-center">
                <div class="rounded-topic section-color-green">
                    <i class="fa fa-calendar fa-5x"></i>
                    <div class="title">Planning</div>
                </div>
            </div>
        </div>
        <div class="row u-marg-t-50">
            <div class="col-sm-4 text-center">
                <div class="rounded-topic section-color-green">
                    <i class="fa fa-link fa-5x"></i>
                    <div class="title">Adhérer à l'association</div>
                </div>
            </div>
            <div class="col-sm-4 text-center">
                <div class="rounded-topic section-color-green">
                    <i class="fa fa-ticket fa-5x"></i>
                    <div class="title">Tarifs</div>
                </div>
            </div>
            <div class="col-sm-4 text-center">
                <div class="rounded-topic section-color-green">
                    <i class="fa fa-users fa-5x"></i>
                    <div class="title">L'équipe</div>
                </div>
            </div>
        </div>
    </div>
</section>

{{>activites}}

{{>equipe}}

{{>map}}

{{>contact}}