{{!< default}}

<script>
    $(function() {
        // summary:
        //      Adjust this section to window height
        var h = $(window).height() - $('.navbar').height() - 90;

        $('#imageTitle').height(h);
    });
</script>

<section id="imageTitle">
    <div class="container">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <h1>Partageons ensemble dans le sport !</h1>
            </div>
        </div>
    </div>
</section>
<div class="container u-marg-t-50">
    <div class="row">
        <div class="col-sm-4 text-center">
            <div class="section section-color-green">
                <i class="fa fa-child fa-5x"></i>
                <h2>Activités</h2>
            </div>
        </div>
        <div class="col-sm-4 text-center">
            <div class="section section-color-green">
                <i class="fa fa-question fa-5x"></i>
                <h2>Pour qui ?</h2>
            </div>
        </div>
        <div class="col-sm-4 text-center">
            <div class="section section-color-green">
                <i class="fa fa-calendar fa-5x"></i>
                <h2>Planning</h2>
            </div>
        </div>
    </div>
    <div class="row u-marg-t-50">
        <div class="col-sm-4 text-center">
            <div class="section section-color-green">
                <i class="fa fa-link fa-5x"></i>
                <h2>Adhérer à l'association</h2>
            </div>
        </div>
        <div class="col-sm-4 text-center">
            <div class="section section-color-green">
                <i class="fa fa-ticket fa-5x"></i>
                <h2>Tarifs</h2>
            </div>
        </div>
        <div class="col-sm-4 text-center">
            <div class="section section-color-green">
                <i class="fa fa-users fa-5x"></i>
                <h2>L'équipe</h2>
            </div>
        </div>
    </div>
</div>

{{>contact}}