<div class="section-alt">
    <div class="container">
        <div class="row">
            <h2>
                Activités
            </h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent mollis nunc porttitor augue malesuada auctor vel ut orci. Quisque bibendum, tortor sed finibus bibendum, lectus diam tincidunt nisl, sed bibendum massa nibh vitae mi. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nullam ac sapien enim. Nulla quis ligula quis dolor maximus mattis. In at elementum sapien, ut cursus dui. Suspendisse ac urna ultrices, eleifend sapien ac, bibendum nunc. Ut at lorem non sapien placerat ultrices id sed mauris. Suspendisse ut aliquet massa, sed imperdiet arcu. Fusce et ornare lacus, eget tristique neque. Nunc egestas mollis enim non condimentum. Duis vitae lobortis sapien, quis luctus risus. Ut luctus ex nisl, sed sodales elit vulputate et. Aliquam ornare hendrerit nulla. Suspendisse potenti.
            </p>
            <p>
                Donec vulputate eget mauris at blandit. In ut convallis velit. Nunc vitae dapibus purus, vel accumsan magna. Praesent pharetra a neque pharetra sollicitudin. Nunc leo mauris, condimentum et eros at, consequat facilisis sem. Nam ac feugiat ligula. Aliquam lacinia, ante eu rutrum cursus, orci enim mattis orci, nec bibendum mi tortor eget leo. Mauris dui turpis, eleifend eget augue et, gravida auctor libero. Nulla fermentum rhoncus mi a luctus.
            </p>
        </div>
    </div>
</div>