<div class="planning" id="planning">
    <div class="container u-pad-t-50 u-pad-b-50">
        <div class="row">
            <div class="col-xs-1"><i class="fa fa-calendar fa-5x"></i></div>
            <div class="col-sm-11">
                <h2>Planning</h2>
            </div>
        </div>
        <div class="row">
            <div class="table-responsive">
                <table class="table">
                    <tr>
                        <td>Lundi 16/12</td>
                        <td>3 place(s) libre(s)</td>
                        <td><button type="button" class="btn btn-default">S'inscrire</button></td>
                    </tr>
                    <tr>
                        <td>Jeudi 21/12</td>
                        <td>0 place(s) libre(s)</td>
                        <td><button type="button" class="btn btn-default">S'inscrire</button></td>
                    </tr>
                    <tr>
                        <td>Dimanche 01/02</td>
                        <td>2 place(s) libre(s)</td>
                        <td><button type="button" class="btn btn-default">S'inscrire</button></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>