<div id="dialogSignin" class="modal fade" role="dialog" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Se connecter</h4>
            </div>
            <div class="modal-body">
                <p>Saisissez vos informations de connexion</p>
                <form role="form" action="signin">
                    <input type="email" class="form-control" name="email" placeholder="email">
                    <input type="password" class="form-control" name="password" placeholder="mot de passe">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default">Se connecter</button>
            </div>
        </div>
    </div>
    <script>
        $('#dialogSignin button').click(function() {
            var form = $('#dialogSignin form');


            $.ajax({
                url: form.attr('action'),
                type: 'POST',
                data: form.serialize(),
                success: function() {
                    location.reload();
                }
            });
        });
    </script>
</div>