// Override Bootstrap variables in this file, e.g.

@font-size-base: 16px;
@primary-color: #6ccd42;
@brand-primary: #6ccd42;
@lighten-text-color: #fff;

@color-orange: #f66d1f;
@color-blue: #04529d;
@color-yellow: #fecf29;
@color-red: #c50b30;
@color-purple: #3e267c;
@color-light-blue: #84b4e4;

@font-family-title : 'Roboto', serif;
@font-family-picture: 'Oswald', sans-serif;
@font-family-icon-title: 'Open Sans', sans-serif;

@tablet: ~"(min-width: 767px) and (max-width : 991px)";